<section class="card acm-card">
  <div class="card-header">
    <h2> Courses List </h2>
  </div>
  <div class="card-body text-center">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Image </th>
          <th>Course Name</th>
          <th>Trainer</th>
          <th>Next Batch Date </th>
          <th>Price</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let course of courses'>
          <td>
            <img [src]="course.imageUrl" alt="" width='50'>
          </td>
          <td> {{ course.courseName | uppercase }} </td>
          <td> {{ course.trainer }} </td>
          <td> {{ course.nextBatchDate | date : 'dd-MMM-yyyy' }} </td>
          <td> {{ course.price | currency : 'INR' : 'symbol': '1.2-3' }} </td>
          <td>
            <!-- {{ course.starRating }} -->
            <app-star [rating]='course.starRating' (starClick)='onStarClicked($event)'></app-star>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">

  </div>
</section>
