/* You can add global styles to this file, and also import other style files */
svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


.acm-card{
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

.acm-spinner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.admin-form {
  width: 450px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.acm-link {
  text-decoration: none;
  cursor: pointer;
}

.acm-link:hover {
  text-decoration: none;
}

.ng-touched.ng-valid[required], 
.ng-touched.ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}
.ng-touched.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
