<section class="card acm-card">
  <div class="card-header">
    <h2> Welcome To Angular Course Management</h2>
  </div>
  <div class="card-body text-center">
    <img src="https://www.w3schools.com/howto/img_avatar.png"
         alt="Avatar"
         class="rounded-circle"
         width='250'>

    <h3> Angular Course Management Application</h3>
    <h4> This is Angular Application to demonstrate the concepts of Angular</h4>
  </div>
  <div class="card-footer">
    @Copyright: 2020-2021
  </div>
</section>
